<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.2/css/bootstrap.min.css" rel="stylesheet">

    <title>Live Streaming Demonstration</title>
    <script src="/static/jquery.min.js"></script>
    <style>
        body {
            background: #F5F5F5;
        }

        .box2023 {
            min-height: 400px;
            background: #fff;
        }
    </style>
</head>
<body>
<div class="container border-bottom">
    <header>
        <div class="py-3 my-4">
            <h2 class="text-center">Sign Laguage Recogination</h2>
        </div>
    </header>
</div>
<div class="container ">
    <div class="row border-bottom pt-4 pb-4 ">
        <div class="col-6 ">
            <div id="box1" class="row bg-white h-100 d-flex flex-column align-items-center justify-content-center" >
                <div id="videos1" class="box d-flex flex-column align-items-center justify-content-center">
                    <div class="pb-3">
                        <input type="file" id="btn_file" accept="video/mp4" style="display:none;width: 200px">
                        <button type="button" class="btn btn-primary" onclick="F_Open_dialog()">UPLOAD VIDEO</button>
                        {% if data3 %}{{ data3 }}{% endif %}
                    </div>
                    <div>
                        <button id="cam" class="btn btn-danger">USE UR CAM</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-6">
            <div class="box bg-white">
                <div class="box2023"></div>
            </div>
        </div>
    </div>

    <div class="buttons text-center pt-4">
        <button id="clear" class="btn btn-danger">Clear Video</button>
        <button class="submit btn btn-primary">Submit</button>
    </div>
</div>


<script>
    var status = 1

    function F_Open_dialog() {
        document.getElementById("btn_file").click();
    }

    document.querySelector('input[type="file"]').addEventListener('change', function (e) {
        let videoFile = e.target.files[0];
        if (videoFile.type != 'video/mp4') {
            alert('only mp4!');
            return;
        }
    })
    $('#cam').click(function () {
        $('#box1').html('<div id="videos" class="box ">\n' +
            '            <img src="{{ url_for('video_feed2') }}" width="600" height="400">\n' +
            '        </div>')
        status = 2
        console.log(status)

        function startPre() {
            $.ajax({
                url: '/video_feed',
                type: 'post',
                dataType: 'json',
                success: function (data) {

                    console.log(data)  //data is a json object. The object has two arrays. The first is the array of objects. Each object is a line. The second array is the array of objects. Each object is a line.
                    for (var i = 0; i < data.data.length; i++) {
                        html='<div><span>time:'+parseFloat(data.data[i].timestamp).toFixed(4)+'</span>，<span>predict:'+data.data[i].prediction+ '</span></div>'
                        $('.box2023').append(html)

                    }
                    $('.box2023').append('<div>KeyToText :' + data.sentence.replace(' InvestorGuide.com. WebFinance, Inc. http://,') + '</div>')
                    $('#box1').html('<div id="videos" class="box " >\n' +
                    '            <video controls="controls" src="' + data.video_path + '" width="100%"  style=""></video>\n' +
                    '        </div>')
                }
            })
        }

        setTimeout(startPre, 5000);
    })

    $('#btn_file').change(function () {
        var formdata = new FormData();
        formdata.append('file', $('#btn_file')[0].files[0]);    //upload
        $.ajax({
            url: 'http://127.0.0.1:5000/predict',
            type: 'post',
            contentType: false,
            processData: false,
            data: formdata,
            success: function (data) {
                
                console.log(data.data)  //data is a json object. The object has two arrays. The first is the array of objects. Each object is a line. The second array is the array of objects. Each object is a line.
                for (var i = 0; i < data.data.length; i++) {
                    html='<div><span>time:'+parseFloat(data.data[i].timestamp).toFixed(4)+'</span>，<span>predict:'+data.data[i].prediction+'</span></div>'
                    //, <span>probability:'+parseFloat(data.data[i].probabilty.toFixed(4))+'</span>
                    $('.box2023').append(html)

                }
                $('.box2023').append('<div>KeyToText :' + data.sentence.replace(' InvestorGuide.com. WebFinance, Inc. http://,') + '</div>')
                $('#box1').html('<div id="videos" class="box " >\n' +
                    '            <video controls="controls" src="' + data.video_path + '" width="100%"  style=""></video>\n' +
                    '        </div>')
            }
        })
        status = 1
        console.log(status)
    })
    $('#clear').click(function () {
        window.location.reload()
        if (status == 1) {
            $('.box2023').empty()
            $('.btn_file').val('')
            $('#box1').empty()
            $('#box1').html('        <div id="videos1" class="box col-lg-8  offset-lg-2"\n' +
                '             style="position:relative;margin-top:76px;text-align:center;margin-left: 220px;">\n' +
                '            <div>\n' +
                '                <input type="file" id="btn_file" style="display:none">\n' +
                '                <button type="button" class="btn btn-danger" onclick="F_Open_dialog()">UPLOAD VIDEO</button>\n' +
                '            </div>\n' +
                '            <div style="margin-top:25px;">\n' +
                '                <button id="cam2" class="btn btn-primary">USE UR CAM</button>\n' +
                '            </div>\n' +
                '        </div><script>\n' +
                '    $(\'#cam2\').click(function () {\n' +
                '        $(\'#box1\').html(\'<div id="videos" class="box " style="">\\n\' +\n' +
                '            \'            <img src="{{ url_for('video_feed') }}" width="100%" >\\n\' +\n' +
                '            \'        </div>\')\n' +
                '        status = 2\n' +
                '        console.log(status)\n' +
                '    })\n' +
                '<\/script>')
        } else if (status == 2) {
            $('#box1').empty();
            $('#box1').html('        <div id="videos1" class="box col-lg-8  offset-lg-2"\n' +
                '             style="position:relative;margin-top:76px;text-align:center;margin-left: 220px;">\n' +
                '            <div>\n' +
                '                <input type="file" id="btn_file" style="display:none">\n' +
                '                <button type="button" class="btn btn-primary" onclick="F_Open_dialog()">UPLOAD VIDEO</button>\n' +
                '            </div>\n' +
                '            <div style="margin-top:25px;">\n' +
                '                <button id="cam2" class="btn btn-dager">USE UR CAM</button>\n' +
                '            </div>\n' +
                '        </div><script>\n' +
                '    $(\'#cam2\').click(function () {\n' +
                '        $(\'#box1\').html(\'<div id="videos" class="box " style="">\\n\' +\n' +
                '            \'            <img src="{{ url_for('video_feed') }}" width="600" height="534">\\n\' +\n' +
                '            \'        </div>\')\n' +
                '        status = 2\n' +
                '        console.log(status)\n' +
                '    })\n' +
                '<\/script>')
        }

    })
</script>
</body>


</html>
